html{
    scroll-behavior: smooth;
}

body{
    /* max-width: 1500px;  */
    min-width: 240px; /* 最小幅 */
    min-height: 400px; /* 最小幅 */
    max-height: 15000px; /* 最大幅 */
    font-family: "Noto Sans JP";
    height: auto; /* 最大幅 */
	background:#333;/*遷移アニメーションと同じ色を指定*/	
}



/* ローディング画面のためのCSS */
.splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #333;
	z-index: 9999999;
	text-align:center;
	color:#fff;
}

.splash-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: "Noto Sans JP";
}


/*画面遷移のためのCSS*/

/*画面遷移アニメーション*/

/*画面を開いた後の背景色を指定*/
body.appear{
    background:#fff;
}

.splashbg{
	position: fixed;
	top: 0;
	right:0;
	bottom:0;
	left: 0;
	border-width: 0px;/*開始はボーダーの太さは0*/
	border-style:solid;
    border-color: #666;/*拡大する四角の色*/
	animation-duration:.5s;
	animation-fill-mode:forwards;
}

@keyframes backBoxAnime{
	99.9% {/*アニメーション終了ぎりぎりまで*/
        z-index: 2;/*最前面に*/
		border-width: 0px;/*開始はボーダーの太さは0*/
	}
    100%{
		z-index: -1; /*最背面に*/
        border-width: 0px;/*終了はボーダーの太さは0*/
    }
}

/*画面遷移の後現れるコンテンツ設定*/
#container{
    position: relative;
	opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container{
	animation-name:PageAnimeAppear;
	animation-duration:1s;
	animation-delay:0.2s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}

.splash.is-active {
    opacity: 0;
    visibility: hidden;
}

.splashbg.is-active {
    opacity: 0;
    visibility: hidden;
}


.splash-logo.is-active {
    opacity: 1;
    visibility: visible;
}

/* ヘッダー */
.header {
    position: absolute;
    top: 0; /* 上部から配置の基準位置を決める */
    left: 0; /* 左から配置の基準位置を決める */
    width: 100%; /* ヘッダーの横幅を指定する */
    height: 35px; /* ヘッダーの高さを指定する */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 5px;
}

.navi{
    display: flex;
    justify-content: flex-end;
}

.navititle{
    padding: 50px 25px;
    font-size: 15px;
}

.navititle a{
    color: gray;
    font-weight: bold;
    text-decoration: none;
    font-weight: bold;
    font-family: "Noto Sans JP";
}

/* タイトル */
.subtitle p{
    position: absolute;
    top: 20%; /* 上部から配置の基準位置を決める */
    width: 100%; /* ヘッダーの横幅を指定する */
    font-family: "Noto Sans JP";
    text-align: center;
    font-size: 50px;
    margin: 70px 0 30px 0;
}

/* ここからコマンド*/
.linux-wrapper{
    background-color: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 150px; /* 上部から配置の基準位置を決める */
    width: 100%; /* ヘッダーの横幅を指定する */
}

.linux_search{
    display: flex;
}

form{
    margin:auto;
    padding: 40px;
}


.linux_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}


.table-linux{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.table-linux th{
    font-weight: bold;
    text-align: left;
}


.highlight {
    background-color: #b3e1ee;
}

.type{
    padding-right: 20px;
    padding-bottom: 10px;
}

.command{
    padding-right: 20px;
    padding-bottom: 10px;
}

.mean{
    padding-right: 40px;
    padding-bottom: 10px;
}

.example{
    padding-right: 20px;
    padding-bottom: 10px;
}
